$mobile-width: 600px;
$mobile-height-landscape: 450px;

$tablet-height: 800px;
$tablet-width: 1250px;

$bg-color: white;
$border-color: #d3d6da;
$wrong-color: #787c7e;
$part-correct-color: #c9b458;
$correct-color: #6aaa64;
