@import "../../style-partials/utilities";
@import "../../style-partials/variables";

.words-list {
	@include flex(column, center, center);
	row-gap: 7px;
	font-size: 2.7rem;
	.word {
		@include flex(row, center, center);
		column-gap: 7px;
		.letter {
			@include flex(row, center, center);
			@include size(65px, 65px);
			border: 2px solid $border-color;
			border-radius: 3px;
			text-transform: uppercase;
			color: $bg-color;
			&.wrong {
				background-color: $wrong-color;
				border-color: $wrong-color;
			}
			&.part-correct {
				background-color: $part-correct-color;
				border-color: $part-correct-color;
			}
			&.correct {
				background-color: $correct-color;
				border-color: $correct-color;
			}
		}
	}
}
